@import "tailwindcss";

@theme{
  --animate-slide: slide 20s linear infinite;
  @keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  
}

@layer base {
  html {
    /* font-family: 'PP Editorial New', serif; */
    font-family: "Libre Baskerville", serif;
  }
}
*{
  user-select: none;
}
/* Pause animation on hover */
.group:hover .animate-slide {
  animation-play-state: paused !important;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



