/* Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
@layer base {
  html {
    font-family: "Libre Baskerville", serif;
  }
}

/* Global styles */
* {
  user-select: none;
}

/* Pause animation on hover */
.group:hover .animate-slide {
  animation-play-state: paused !important;
}

/* Extra keyframes (if needed outside Tailwind) */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}